* {
    box-sizing: border-box;
}

p, h3 {
    font-family: 'Roboto', sans-serif;
}

ion-icon {
    color: #32B72F;
    font-size: 23px;
}

/* TOPO DA PAGINA */
.topo {
    background-color: #CF2B2B;
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.texto-topo {
    background-color: red;
    height: 62px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;

}

.texto-topo h1 {
    font-family: 'Righteous', cursive;
    font-size: 42px;
}

.texto-topo p {
    font-size: 17.5px;
}

/* CORPO DA PAGINA */

.corpo {
    background-color: gray;
    width: 100%;
    min-height: 900px;
    margin-top: 30px;
}

.comida {
    background-color: yellow;
    height: 300px;
    width: 100%;
}

.bebida {
    background-color: orange;
    height: 300px;
    width: 100%;
}

.sobremesa {
    background-color: brown;
    height: 300px;
    width: 100%;
}   

.titulo-cardapio {
    background-color: lightgrey;
    width: 280px;
    height: 32px;
    margin-bottom: 10px;
    font-family: 'Righteous', cursive;
}

.itens-cardapio {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 15px;
}

.cardapio {
    margin-bottom: 30px;
}

.item {
    background-color: purple;
    width: 180px;
    height: 230px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ITENS DA PAGINA */

.imagem-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-item img{
    background-color: pink;
    width: 170px;
    height: auto;
    border-radius: 10%;
}

.texto-item {
    height: 74px;
    margin: 3px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-item h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333333;
}

.texto-item p {
    color: #A6A6A6;
}



/* RODAPE DO ITEM */
.rodape-item {
    background-color: aliceblue;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.preco-item, .preco-real {
    background-color: yellowgreen;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.selecao-item {
    background-color: green;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* RODAPE DA PAGINA*/
.rodape {
    background-color: chartreuse;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-rodape {
    background-color: green;
    width: 80%;
    height: 50px;
}