* {
    box-sizing: border-box;
}

p, h3 {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: overlay;
}

ion-icon {
    color: #32B72F;
    font-size: 23px;
}

/* TOPO DA PAGINA */
.topo {
    background-color: #CF2B2B;
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.texto-topo {
    background-color: red;
    height: 62px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;

}

.texto-topo h1 {
    font-family: 'Righteous', cursive;
    font-size: 42px;
}

.texto-topo p {
    font-size: 17.5px;
}

/* CORPO DA PAGINA */

.corpo {
    background-color: gray;


    margin-top: 23px;
}

.comida {
    background-color: yellow;
    height: 300px;
    width: 100%;
}

.bebida {
    background-color: orange;
    height: 300px;
    width: 100%;
}

.sobremesa {
    background-color: brown;
    height: 300px;
    width: 100%;
}   

.titulo-cardapio {
    background-color: lightgrey;
    height: 32px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-family: 'Righteous', cursive;
    font-size: 28px;
    color: #333333;
}

.itens-cardapio {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 15px;
    overflow-x: scroll;
}

.cardapio {
    margin-bottom: 30px;
}


/* ITENS DA PAGINA */

.item {
    background-color: rgb(248, 238, 238);
    width: 180px;
    height: 230px;
    margin-right: 15px;
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3%;
}

.imagem-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-item img {
    width: 160px;
    height: auto;
    border-radius: 6%;
}

.texto-item {
    height: 74px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-item h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333333;
}

.texto-item p {
    color: #A6A6A6;
}



/* RODAPE DO ITEM */
.rodape-item {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.preco-item, .preco-real {
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.selecao-item {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* RODAPE DA PAGINA*/
.rodape {
    background-color: chartreuse;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-rodape {
    background-color: green;
    width: 80%;
    height: 50px;
}

/* EFEITOS */

.escondido {
    display: none;
}

.borda, .item {
    border: 4px solid #32B72F;
}